[Desktop Entry]
Name=HexDesk
NoDisplay=true
MimeType=x-scheme-handler/hexdesk;
TryExec=rustdesk
Exec=rustdesk %u
Icon=rustdesk
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=rustdesk
